/***********************************************
* テーマカラーなど共通で使用するものを変数に設定する
* ※ここには変数のみ記述してください
***********************************************/

$theme-color: #e4047c;
$content-width: 1000px;
$desktop: 769px;
$mobile: 768px;

/***********************************************
* Bulmaのスタイルをカスタマイズ
* 設定できるプロパティは公式ドキュメントの各ページにある「Varibles」を参照してください
* https://bulma.io/documentation/customize/variables/
***********************************************/

// navbar
$navbar-height: 4.25rem;
$navbar-item-img-max-height: 2.75rem;

// footer
$footer-padding: 0.75rem;